<!DOCTYPE html>
<html>
   
    <head >
        <meta charset="UTF-8">
        <title>Edit Book</title>
        <link rel="icon" type="image/x-icon" href="Library web/Favicon.png">
        <link rel="stylesheet" href="Styles/Admin_Add_Book.css">
        <link rel="stylesheet" href="Styles/Nav_Bar.css">
        <link rel="stylesheet" href="Styles/Side_Nav.css">
        <link rel="stylesheet" href="Styles/footer.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
       </head>
   
        <body>
             <!--Navigation bar icons-->
             <div class="logo-exit">
              <img src="Library web/ShelfMate-logo.png" alt="logo" class="Main-logo" >
              <a href="">
                <i class="streamline--delete-1-solid"></i>
               </a>
            </div>
             <nav class="navbar">
              <a href="Admin_Side_Nav.html">          
                  <i class="mingcute--book-5-line"></i>
                  <span class="menu">Menu</span>
                </a>
              <form class="search-bar">
                  <input type="text" id="search-bar" placeholder="Search..." name="search">
                  <button type="submit" id="search-btn"></button>
              </form>
              <a href="Admin_Add_Book.html">
                  <i class="line-md--plus"></i>
                  <span class="add">Add Book</span>
              </a>
              <a href="Adming_Landing_books.html">
                  <i class="mingcute--book-6-line"></i>
                  <span class="books">Books</span>
              </a>
              <a href="Admin_Profile.html">
                  <i class="iconamoon--profile-fill"></i>
                  <span class="profile">Profile</span>
              </a>        
          </nav>
          <nav class="side-bar">
               
            <!-- <div class="overlay"> -->
              <div>
      
              
            
            <a href="Admin_Add_Book.html" class="side-icon">
                <i class="line-md--plus icon"></i>
                <p class="names">Add New Book</p>
              </a>
         
      
           
            <a href="ReaderLandingBooks.html"class="side-icon">
                <i class="mingcute--book-6-line icon"></i>
                <p class="names">View Available Books</p> 
            </a>
      
          
          
            <a href="Admin_Profile.html"class="side-icon">
                
                <i class="iconamoon--profile-fill icon" ></i>
                <p class="names">Profile</p>
            </a>
            
              
          
         
            <a href="Start.html" class="side-icon">
                <i class="iconamoon--logout icon "></i>
                <p class="names">LogOut</p>
             </a>
             
        </nav>
     
      
    <section class="Main_interface">
        <div >
                <p class="title_of_page">Edit Book</p>
        </div>
       <div class="content_screen">
            <div class="Tabs">
                <P class="input_title">Book Name</P>
                <input class="input_text" type="number"  >
            </div>                
            <div class="Tabs">
                <P class="input_title">Author</P>
                <input class="input_text" type="text"  >
            </div>
            
            <div class="Tabs">
                 <P class="input_title">Category</P>
                <input class="input_text" type="text"  >
            </div>    
    
            <div class="Tabs">
                <P class="input_title">Description</P>
                <input class="input_text" type="text"  >
            </div>
            <div >
                <P class="input_title">Upload Book Image</P>
                
                <input type="file" class="upload-button"></input>
                <button type="submit" class="submit"><p>Save Changes</p></button>
                  
            </div>
       </div>

       <div id="custom-alert" class="custom-alert hidden">
        <div class="alert-content">
          <p id="alert-message"></p>
          <button id="close-alert">OK</button>
        </div>
      </div>
    </section>

    <footer>
      <div class="footer-container">
        <div class="footer-section">
          <h3>ShelfMate</h3>
          <p>Choose your story , Choose your journey</p>
        </div>
    
        
    
        <div class="footer-section">
          <h4>Contact Us</h4>
          <p>Email:support@onlinelibrary.com</p>
        </div>
    
        <div class="footer-section">
          <h4>Follow Us</h4>
          <div class="social-icons">
            <a class="mdi--github" href="https://github.com/Nourhannealy/Web-assignment/tree/main/ShelfMate%20Assignment"></a>
            <a class="ic--round-facebook"></a>
            <a class="ri--twitter-x-fill"></a>
            <a class="mdi--instagram"></a>
          </div>
        </div>
      </div>
    
      <div class="footer-bottom">
        <p>&copy; 2025 Online Library. All rights reserved.</p>
        <p>Privacy Policy | Terms of Service</p>
      </div>

    </footer>

    <script src="JS/admin_Add_Book.js"></script>

    </body>
    </html>
