<!DOCTYPE html>
<html>
  <head>
    <title>ShelfMate</title>
    <link rel="icon" type="image/x-icon" href="Library web/Favicon.png">
    <Link rel="stylesheet"  href="Styles/Side_Nav.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="logo-exit">
      <img src="Library web/ShelfMate-logo.png" alt="logo" class="Main-logo" style="width: 150px;">
      <a href="">
        <i class="streamline--delete-1-solid"></i>
       </a>
    </div>
    <nav class="side-bar">
     
      <!-- <div class="overlay"> -->
        <div>

        
      
      <a href="Admin_Add_Book.html" class="side-icon">
        <i class="mingcute--add-fill" type="button" onclick="Admin_Add_Book()"></i>
          <p class="names">Add New Book</p>
        </a>
   

     
      <a href="ReaderLandingBooks.html"class="side-icon">
        <i class="qlementine-icons--book-open-16"></i>
          <p class="names">View Available Books</p> 
      </a>

    
    
      <a href="Admin_Profile.html"class="side-icon">
          
        <span class="iconamoon--profile-fill"></span>
          <p class="names">Profile</p>
      </a>
      
        
    
   
        <a href="Start.html"class="side-icon">

        <span class="majesticons--logout-line"></span>
        <p class="names">LogOut</p>
        </a>
   
  
     
  </nav>
  </body>
</html>
