<!DOCTYPE html>
<html>
   
    <head >
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Deletion Confirmation</title>
        <link rel="icon" type="image/x-icon" href="Library web/Favicon.png">
        <link rel="stylesheet" href="Styles/Admin_Side_Nav_Bar.css">
        <link rel="stylesheet" href="Styles/Admin_Nav_Bar.css">
        <link rel="stylesheet" href="Styles/Delete_msg.css">
        <!-- add here your page <link rel="stylesheet" href="Admin_Add_Book.css"> -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
       </head>
   
       <body>
        <!--Navigation bar icons-->
        <nav class="navbar"> 
          <a href="#" >
              
              <a class="menu-content" >
                  <i class="mingcute--book-5-line"></i>
                  <span class="menu">Menu</span>
              </a>

              <!--Side bar-->
              <div class="side-nav">
                    
                <div class="logo-exit">
                  <img src="Library web/ShelfMate-logo.png" alt="logo" class="logo">
                  <a href="">
                    <i class="streamline--delete-1-solid"></i>
                  </a>
                </div>

                <div class="nav-content">
                    <a href="Adming_Landing_books.html">
                      <i class="mynaui--home side-home"></i>
                      <span class="side-home">Home</span>
                    </a>
                    <a href="Admin_Edit_Book.html">
                      <i class="qlementine-icons--book-open-16 side-books"></i>
                      <span class="side-books">Edit Book</span>
                    </a>
                    <a href="Admin_Add_Book.html" >
                      <i class="line-md--plus icon-small side-add"></i>
                      <span class="side-add">Add Book</span>
                    </a>
                    <a href="Admin_Profile.html">
                      <i class="iconamoon--profile-fill icon-small side-profile"></i>
                      <span class="side-profile">Profile</span>
                    </a>
                    <a href="Login.html">
                      <i class="majesticons--logout-line side-logout"></i>
                      <span class="side-logout">Logout</span>
                    </a>
                </div>
              </div>
          </a>



              <a href="Admin_Add_Book.html" class="add-book-content" >
                  <i class="line-md--plus"></i>
                  <span class="add-book">Add Book</span>
              </a>
                
            <a href="Admin_Edit_Book.html" class="books-content">
                <i class="mingcute--book-6-line"></i>
                <span class="books">Edit Book</span>
            </a>

            <div class="dropdown  profile-dropdown">
                <a href="Admin_Profile.html">
                    <i class="iconamoon--profile-fill"></i>
                    <span class="profile">Profile</span>
                </a>
                    
                <div class="dropdown-content ">
                    <a href="#">Settings</a>
                    <a href="Login.html">Log Out</a>
                </div>
                
            </div>         
        </nav>            
        <!-- AND HERE YOUR CODE -->
        <!-- <section class="Main_interface">
            <div class="title_of_page">
                    <p>Add New Book</p>
            </div>
           <div class="content_screen">
                <div class="Tabs">
                    <P class="input_title">Book ID</P>
                    <input class="input_text" type="number"  >
                </div>                
                    
                <div class="Tabs">
                    <P class="input_title">Book Name</P>
                    <input class="input_text" type="text" >
                </div>            
        
                <div class="Tabs">
                    <P class="input_title">Author</P>
                    <input class="input_text" type="text"  >
                </div>
                
        
                <div class="Tabs">
                     <P class="input_title">Category</P>
                    <input class="input_text" type="text"  >
                </div>    
        
                <div class="Tabs">
                    <P class="input_title">Description</P>
                    <input class="input_text" type="text"  >
                </div>
                <div >
                    <P class="input_title">Upload Book Image</P>
                    
                    <button type="file" class="upload-button">No File Uploaded</button>
                    <button type="submit" class="submit"><p>Save</p></button>
                      
                </div>
           </div> -->
           <div class="blurred_background">
                <div class="deletion_position">
                    <div  class ="delection_Box">
                        <p  class ="Edited_words">Are you sure you want to delete this book?</p> 
                        <button class="button_del" style="background-color: #D17930;margin-right:10px;">No</button>
                        <button class="button_del"style="background-color: #AA8C73;margin-left: 10px;">Yes</button>
        
                    </div>
                </div>
           </div>
              
        </section>
    </body>
</html>
