<!DOCTYPE html>
<html>
   
    <head >
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile</title>
        <link rel="icon" type="image/x-icon" href="Library web/Favicon.png">
        <link rel="stylesheet" href="Styles/Nav_Bar.css">
        <link rel="stylesheet" href="Styles/Side_Nav.css">
        <link rel="stylesheet" href="Styles/body.css">
        <link rel="stylesheet" href="Styles/Profile.css">
        <link rel="stylesheet" href="Styles/footer.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
       </head>
   
        <body>
    <!--Navigation bar icons-->
    <nav class="navbar">
      <div class="logo-exit">
          <img src="Library web/ShelfMate-logo.png" alt="logo" class="Main-logo" >
          <a href="">
            <i class="streamline--delete-1-solid"></i>
           </a>
        </div>
        <a href="#" class="searchbar-container">
          <i class="material-symbols--search-rounded "></i>
          <span class="Search">Search</span>
          <form class="search-bar">
              <i class="material-symbols--search"></i>
              <input type="text" placeholder="Search" name="search">
              <button type="submit" ></button>
          </form>
            </a>
    
    
      <div class="dropdown status-dropdown">
          <a href="ReaderBookStatus.html" >
              <i class="mdi--book-cog-outline"></i>
              <span class="status">Status</span>
          </a>
              <div class="dropdown-content">
                  <a href="ReaderBookStatus.html">Borrowed</a>
                  <a href="ReaderBookStatus.html">Not Completed</a>
                  <a href="ReaderBookStatus.html">Completed</a>
                  <a href="ReaderBookStatus.html">Favorites</a>
              </div>
      </div>
          
      <a href="AdminLandingBooks.html">
          <i class="mingcute--book-6-line"></i>
          <span class="books">Books</span>
      </a>
      <div class="dropdown  profile-dropdown">
          <a href="Reader_Profile.html">
              <i class="iconamoon--profile-fill"></i>
              <span class="profile">Profile</span>
          </a>
              
          <div class="dropdown-content ">
              <a href="#">Settings</a>
              <a href="Login.html">Log Out</a>
          </div>
          
      </div>   
  </nav>
  
  <nav class="side-bar">
 
      <!-- <div class="overlay"> -->
        <div>

        
      
      <a href="Admin_Add_Book.html" class="side-icon">
          <i class="mdi--book-cog-outline"></i>
          <p class="names">Add New Book</p>
        </a>
   

     
      <a href="ReaderLandingBooks.html"class="side-icon">
          <i class="mingcute--book-6-line icon"></i>
          <p class="names">View Available Books</p> 
      </a>

    
    
      <a href="Admin_Profile.html"class="side-icon">
          
          <i class="iconamoon--profile-fill icon" ></i>
          <p class="names">Profile</p>
      </a>
      
        
    
   
      <a href="Start.html" class="side-icon">
          <i class="iconamoon--logout icon "></i>
          <p class="names">LogOut</p>
       </a>
       
  
     
  </nav>
        <section class="Main_interface">
            <div class="title_of_page">
                    <h1>Personal Info</h1>
            </div>
           <div class="content_screen">
                <div class="Tabs">
                    <P class="input_title">Full Name</P>
                    <input id="fullName" class="input_text" type="text" value="Nour Hany Salem"  disabled>
                </div>                
                    
                <div class="Tabs">
                    <P class="input_title">Email</P>
                    <input id="email" class="input_text" type="email"value = "nourhanysalem2005@gmail.com" disabled>
                </div>            
        
                <div class="Tabs">
                  <div class="label-with-optional">
                    <label for="phone" class="input_title">Phone Number</label>
                    <span class="optional">Optional</span>
                  </div>
                    <input id="phone" class="input_text" type="tel" size="11"  
                    value="0100-000-0000"
                    pattern="[0-9]{4}-[0-9]{3}-[0-9]{4}" disabled>
                </div>
                
        
                <div class="gender-details">
                  <input type="radio" name="gender" id="dot-1" value="Male" disabled>
                  <input type="radio" name="gender" id="dot-2" value="Female" disabled>
                  <input type="radio" name="gender" id="dot-3" value="Prefer not to say" checked disabled>
                     <span class="gender-title">Gender</span>
                     <div class="category">
                      <label for="dot-1">
                        <span class="dot one"></span>
                        <span class="gender">Male</span>
                      </label>
                      <label for="dot-2">
                        <span class="dot two"></span>
                        <span class="gender">Female</span>
                      </label>
                      <label for="dot-3">
                        <span class="dot three"></span>
                        <span class="gender">Prefer not to say</span>
                      </label>
                     </div>
                </div>    
        
                <button class="saveButton" id="editBtn" onclick="toggleEdit()">Edit</button>
                <div id="toast" class="custom-toast">Changes saved!</div>
           </div>

        </section>
        <footer>
            <div class="footer-container">
              <div class="footer-section">
                <h3>ShelfMate</h3>
                <p>Choose your story , Choose your journey</p>
              </div>
          
              
          
              <div class="footer-section">
                <h4>Contact Us</h4>
                <p>Email: <a href="mailto:support@onlinelibrary.com">support@onlinelibrary.com</a></p>
              </div>
          
              <div class="footer-section">
                <h4>Follow Us</h4>
                <div class="social-icons">
                  <a href="https://facebook.com/YourLibrary"><span class="ic--baseline-facebook"></span></a>
                  <a href="https://twitter.com/YourLibrary"><span class="carbon--logo-x"></span></a>
                  <a href="https://instagram.com/YourLibrary"><span class="mdi--instagram"></span></a>
                </div>
              </div>
            </div>
          
            <div class="footer-bottom">
              <p>&copy; 2025 Online Library. All rights reserved.</p>
              <p><a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
            </div>
        
          </footer>

          <script src="JavaScript/Profile.js"></script>

    </body>
</html>
