{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="icon" type="image/x-icon" href="{% static 'Library web/Favicon.png' %}">
    <link rel="stylesheet" href="{% static 'Styles/AI_assistant.css' %}">
    <link rel="stylesheet" href="{% static 'Styles/Side_Nav.css' %}">
    <link rel="stylesheet" href="{% static 'Styles/Nav_Bar.css' %}">
    <link rel="stylesheet" href="{% static 'Styles/Settings.css' %}">
    <link rel="stylesheet" href="{% static 'Styles/footer.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="navbar"></div>

    <div class="settings-container">
        <h2>Settings</h2>
         <form>

        <p>
            <label for="username">Display Name:</label><br>
            <input type="text" id="username" value="Nour Hany Salem"  autocomplete="off" disabled/>
        </p>

        <p>
            <label for="email">Email Address:</label><br>
            <input type="email" id="email" value="lojinsadek@gmail.com"  autocomplete="off" disabled/>
        </p>

        <p>
            <label for="theme">Theme:</label><br>
            <select id="theme" name="theme" disabled>
                <option value="light">Light</option>
                <option value="dark">Dark</option>
            </select>
        </p>

        <p>
            <label for="notifications">Notification Preferences:</label><br>
            <select id="notifications" name="notifications" disabled>
                <option value="all">All</option>
                <option value="due">Due Date Reminders Only</option>
                <option value="none">None</option>
            </select>
        </p>

        <p>
            
            <label for="sound">Notification Sound:</label><br>
            <select id="sound" name="sound" disabled>
                <option value="chime">Chime</option>
                <option value="bell">Bell</option>
                <option value="ding">Ding</option>
                <option value="none">None</option>
            </select>   

        </p>

        <br>
        
        <div class="gender-details">
                  <input type="radio" name="gender" id="dot-1" value="Male" disabled>
                  <input type="radio" name="gender" id="dot-2" value="Female" disabled>
                  <input type="radio" name="gender" id="dot-3" value="Prefer not to say" checked disabled>
                     <span class="gender-title">Gender</span>
                     <div class="category">
                      <label for="dot-1">
                        <span class="dot one"></span>
                        <span class="gender">Male</span>
                      </label>
                      <label for="dot-2">
                        <span class="dot two"></span>
                        <span class="gender">Female</span>
                      </label>
                      <label for="dot-3">
                        <span class="dot three"></span>
                        <span class="gender">Prefer not to say</span>
                      </label>
                     </div>
                </div>
        
        <p>
            <button type="button" class="saveButton" id="editBtn">Edit</button>
            <button type="button" class="logoutButton" id="logoutBtn">Log Out</button>
        </p>

    </form>
    </div>

    <div id="custom-alert" class="custom-alert hidden">
    <div class="alert-content">
      <p id="alert-message"></p>
      <button id="close-alert">OK</button>
    </div>
  </div>
  
    <div id="Assistant"></div>
    <div id="footer"></div>
    <script src="{% static 'JavaScript/Reader_page.js' %}"></script>
    <script src="{% static 'JavaScript/Settings.js' %}"></script>

    
</body>
</html>