<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Book Status</title>
        <link rel="icon" type="image/x-icon" href="Library web/Favicon.png"> 
        <Link rel="stylesheet"  href="Styles/Side_Nav.css">
        <link rel="stylesheet" href="Styles/Nav_Bar.css">
        <link rel="stylesheet" href="Styles/body.css">
        <link rel="stylesheet" href="Styles/Reader_Book_Status_Search.css">
        <link rel="stylesheet" href="Styles/footer.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    </head>
    <body>
        <!--Navigation bar-->
        <nav class="navbar">
            <div class="logo-exit">
                <img src="Library web/ShelfMate-logo.png" alt="logo" class="Main-logo" >
                <a href="">
                  <i class="streamline--delete-1-solid"></i>
                 </a>
              </div>
              <a href="#" class="searchbar-container">
                <i class="material-symbols--search-rounded "></i>
                <span class="Search">Search</span>
                <form class="search-bar">
                    <i class="material-symbols--search"></i>
                    <input type="text" placeholder="Search" name="search">
                    <button type="submit" ></button>
                </form>
            </a>
          
          
            <div class="dropdown status-dropdown">
                <a href="ReaderBookStatus.html" >
                    <i class="mdi--book-cog-outline"></i>
                    <span class="status">Status</span>
                </a>
                    <div class="dropdown-content">
                        <a href="ReaderBookStatus.html">Borrowed</a>
                        <a href="ReaderBookStatus.html">Not Completed</a>
                        <a href="ReaderBookStatus.html">Completed</a>
                        <a href="ReaderBookStatus.html">Favorites</a>
                    </div>
            </div>
                
            <a href="AdminLandingBooks.html">
                <i class="mingcute--book-6-line"></i>
                <span class="books">Books</span>
            </a>
            <div class="dropdown  profile-dropdown">
                <a href="Reader_Profile.html">
                    <i class="iconamoon--profile-fill"></i>
                    <span class="profile">Profile</span>
                </a>
                    
                <div class="dropdown-content ">
                    <a href="#">Settings</a>
                    <a href="Login.html">Log Out</a>
                </div>
                
            </div>   
        </nav>
        
        <nav class="side-bar">
       
            <!-- <div class="overlay"> -->
              <div>
      
              
            
            <a href="Admin_Add_Book.html" class="side-icon">
                <i class="mdi--book-cog-outline"></i>
                <p class="names">Add New Book</p>
              </a>
         
      
           
            <a href="ReaderLandingBooks.html"class="side-icon">
                <i class="mingcute--book-6-line icon"></i>
                <p class="names">View Available Books</p> 
            </a>
      
          
          
            <a href="Admin_Profile.html"class="side-icon">
                
                <i class="iconamoon--profile-fill icon" ></i>
                <p class="names">Profile</p>
            </a>
            
              
          
         
            <a href="Start.html" class="side-icon">
                <i class="iconamoon--logout icon "></i>
                <p class="names">LogOut</p>
             </a>
             
        
           
        </nav>
        <!--Book status page content-->
        <h1 id="title">Book Status</h1>
        <div class="buttons">
            <button class="borrowed">Borrowed</button>
            <button class="not-completed">Not Completed</button>
            <button class="completed">Completed</button>
            <button class="favorites">Favorites</button>
        </div>

        <main>
            <div class="book-row"> 
                <div class="book-container borrowed" data-category="Memoir, Biography, Autobiography">
                    <a href="Reader_Book_Details.html">
                        <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1574328700i/46195204.jpg" alt="The Magical Language of Others"/>
                    </a>
                    <div class="book-description">
                        <h2>
                            <a class="book-title" href="Reader_Book_Details.html">The Magical Language of Others</a>
                            <span class="mynaui--book-slash"></span>
                        </h2>
                        <a href="Reader_Book_Details.html"><p>E. J. Koh</p></a>
                    </div>
                </div>
                    
                <div class="book-container completed" data-category="Fantasy Fiction, Children's literature">
                    <a href="Reader_Book_Details.html">
                        <img src="https://m.media-amazon.com/images/I/81q77Q39nEL._AC_UF1000,1000_QL80_.jpg" alt="Harry Potter and the Philosopher's Stone"/>
                    </a>
                    <div class="book-description">
                        <h2>
                            <a class="book-title" href="Reader_Book_Details.html">Harry Potter and the Philosopher's Stone</a>
                            <span class="mynaui--book-check"></span>
                        </h2>
                        <a href="Reader_Book_Details.html"><p>J. K. Rowling</p></a>
                    </div>
                </div>

                <div class="book-container completed favorites" data-category="Young adult literature, Science fiction, Fantasy Fiction, Dystopian Fiction">
                    <a id="book-title" href="Reader_Book_Details.html">
                        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1590598478l/53174067.jpg" alt="Skyhunter"/>
                    </a>
                    <div class="book-description">
                        <h2>
                            <a class="book-title" href="Reader_Book_Details.html">Skyhunter</a>
                            <span class="mynaui--book-check"></span>
                        </h2>
                        <a href="Reader_Book_Details.html"><p>Marie Lu</p></a>
                    </div>
                </div> 
                
                <div class="book-container borrowed" data-category="Romance, Novel">
                    <a href="Reader_Book_Details.html">
                        <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1582434073i/50771500.jpg" alt="ما رواه البحر"/>
                    </a>   
                    <div class="book-description">
                        <h2>
                            <a class="book-title" href="Reader_Book_Details.html">ما رواه البحر</a>
                            <span class="mynaui--book-slash"></span>
                        </h2>
                        <a href="Reader_Book_Details.html"><p>ساندرا سراج</p></a>
                    </div>
                </div>

                <div class="book-container completed favorites" data-category="Young Adult, Thriller, Mystery Thriller, Fiction, Crime">
                    <a href="Reader_Book_Details.html">
                        <img src="https://m.media-amazon.com/images/I/81-+p+G9WDL._AC_SL1500_.jpg" alt="A Good Girl's Guide to Murder"/>
                    </a>
                    <div class="book-description">
                        <h2>
                            <a class="book-title" href="Reader_Book_Details.html"> A Good Girl's Guide to Murder</a>
                            <span class="mynaui--book-check"></span>
                        </h2>
                        <a href="Reader_Book_Details.html"><p>Holly Jackson</p></a>
                    </div>
                </div>

                <div class="book-container not-completed" data-category="Romance, Contemporary, Fiction">
                    <a href="Reader_Book_Details.html">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBXljbqv84f7BPUWLEuoyJ3jTU8tLdp2f91w&s" alt="Things We Never Got Over"/>
                    </a>
                    <div class="book-description">
                        <h2>
                            <a class="book-title" href="Reader_Book_Details.html">Things We Never Got Over</a>
                            <span class="mynaui--book-slash"></span>
                        </h2>
                        <a href="Reader_Book_Details.html"><p>Lucy Score</p></a>
                    </div>
                </div>
        
                <div class="book-container not-completed" data-category="Fiction, Romance, Contemporary">
                    <a href="Reader_Book_Details.html">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQs4EEPYbDupdhm2d_x7wTPWn8oNarNvC5fFw&s" alt="It Ends with Us"/>
                    </a>
                    <div class="book-description">
                        <h2>
                            <a class="book-title" href="Reader_Book_Details.html">It Ends with Us</a>
                            <span class="mynaui--book-slash"></span>
                        </h2>
                        <a href="Reader_Book_Details.html"><p>Colleen Hoover</p></a>
                    </div>
                </div>
        
            </div>
        </main>


        <!--Footer-->
        <div id="footer"></div>
        

        <!--JavaScript File-->
        <script src="JavaScript/Reader_Book_Status.js"></script>
        <script src="JavaScript/Reader_Nav_Bar.js"></script>
        <script src="JavaScript/Reader_page.js"></script>
    </body>

</html>
