<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>reader nav</title>
        <link rel="icon" type="image/x-icon" href="Library web/Favicon.png">
        <link rel="stylesheet" href="{static %'Styles/Nav_Bar.css' %}">
        <link rel="stylesheet" href="{static %'Styles/Side_Nav.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    </head>
    <body>
                <nav class="navbar">
                    <div class="logo-exit">
                        <img src="Library web/ShelfMate-logo.png" alt="logo" class="Main-logo" >
                        <a href="">
                          <i class="streamline--delete-1-solid"></i>
                         </a>
                      </div>
                      <a href="#" class="searchbar-container">
                        <i class="material-symbols--search-rounded "></i>
                        <span class="Search">Search</span>
                        <form class="search-bar">
                            <i class="material-symbols--search"></i>
                            <input type="text" placeholder="Search" name="search">
                            <button type="submit" ></button>
                        </form>
                    </a>
                  
                  
                    <div class="dropdown status-dropdown">
                        <a href="ReaderBookStatus.html" >
                            <i class="mdi--book-cog-outline"></i>
                            <span class="status">Status</span>
                        </a>
                            <div class="dropdown-content">
                                <a href="ReaderBookStatus.html">Borrowed</a>
                                <a href="ReaderBookStatus.html">Not Completed</a>
                                <a href="ReaderBookStatus.html">Completed</a>
                                <a href="ReaderBookStatus.html">Favorites</a>
                            </div>
                    </div>
                        
                    <a href="AdminLandingBooks.html">
                        <i class="mingcute--book-6-line"></i>
                        <span class="books">Books</span>
                    </a>
                    <div class="dropdown  profile-dropdown">
                        <a href="Reader_Profile.html">
                            <i class="iconamoon--profile-fill"></i>
                            <span class="profile">Profile</span>
                        </a>
                            
                        <div class="dropdown-content ">
                            <a href="#">Settings</a>
                            <a href="Login.html">Log Out</a>
                        </div>
                        
                    </div>   
                </nav>
                
                <nav class="side-bar">
               
                    <!-- <div class="overlay"> -->
                      <div>
              
                      
                    
                    <a href="Admin_Add_Book.html" class="side-icon">
                        <i class="mdi--book-cog-outline"></i>
                        <p class="names">Add New Book</p>
                      </a>
                 
              
                   
                    <a href="ReaderLandingBooks.html"class="side-icon">
                        <i class="mingcute--book-6-line icon"></i>
                        <p class="names">View Available Books</p> 
                    </a>
              
                  
                  
                    <a href="Admin_Profile.html"class="side-icon">
                        
                        <i class="iconamoon--profile-fill icon" ></i>
                        <p class="names">Profile</p>
                    </a>
                    
                      
                  
                 
                    <a href="Start.html" class="side-icon">
                        <i class="iconamoon--logout icon "></i>
                        <p class="names">LogOut</p>
                     </a>
                     
                
                   
                </nav>
    </body>

</html>